.content-box--main-frame-rounded {
    display: block;
    border: solid 2px rgba(7, 141, 224, 0.387);
    border-radius: 15px;
    width: 80%;
    box-shadow: 2px 2px 2px 4px lightblue;
    word-wrap: break-word;
}

.content-box--header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    box-sizing: border-box;
    padding: 16px;
    min-height: 53px;
    border: solid 1px rgba(7, 141, 224, 0.387);
    background-color: rgba(202, 242, 255, 0.957);
}

.content-box--header-content--flex-item {
    flex-grow: 1;
}

.content-box--body-content {
    margin: 0 auto 0 auto;
    width: 768px;
    min-height: 12pt;
    background-color: rgba(228, 248, 255, 0.957);
}
