/* common styles */
html {
    font-size:100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* end of common styles */

/* navbar */

/* sidebar */
.sidebar {
    width: 8rem;
    height: 100%;
    background-color: aliceblue;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /** changes flex-direction in vertical */
    align-items: center;
    z-index: 10;
}

.menu-icon {
    margin-top: 3rem;
    cursor: pointer;
}

.line {
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1, .line-3 {
    width: 1.8rem;
    transition: all .4s;
}

.menu-icon:hover .line {
    width: 2.5rem;
}

.social-icons-list {
    list-style-type: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link {
    font-size: 2rem;
    color: #2b0b85;
    transition: color .3s;
}

.social-link:hover {
    color: black;
    font-weight: 400;
    border: 2px solid #2b0b85 ;
}

.year {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #555;
}
/* end of sidebar */

/* navigation */
.navigation {
    position: fixed;
    left: -32rem;
    width: 40rem;
    height: 100%;
    background: linear-gradient(to top, transparent, #92d4ff, rgba(0,0,0,0.95)), url(../img/background-navigation_3.svg) center no-repeat rgba(255, 255, 255, 0.005);
    background-position: 10% 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* changes flex-direction in vertical */
    align-items: center;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
}

.navigation-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #e9f3f9;
    text-align: center;
}

.navigation-search {
    position: relative;
}

.navigation-search-input {
    width: 30rem;
    margin: 0 5rem 0 5rem;
    padding: 1rem 2rem;
    background-color: rgba(250,243,255,.75);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: #2b0b85;
    letter-spacing: .1rem;
    outline: none;
    border: .1rem solid #2b0b85;
    border-radius: 10rem;
    transition: background-color .3s;
}

.navigation-search-input:focus {
    background-color: regba(0, 0, 0, .1);
}

.navigation-search-btn {
    border: none;
    background-color: transparent;
    color: #2b0b85;
    font-size: 1.7rem;
    position: absolute;
    top: 1rem;
    right: 6.3rem;
    cursor: pointer;
}

.navigation-search-btn:focus {
    outline: none;
}

.navigation-list {
    list-style-type: none;
    padding: 0;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation-item {
    position: relative;
}

.navigation-link {
    color: #2b0b85;;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .5s;
}

.navigation-link::before {
    content: "";
    width: 3rem;
    height: .1rem;
    background-color: #2b0b85;
    position: absolute;
    top: 1rem;
    left: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after {
    content: "";
    width: 0rem;
    height: .1rem;
    background-color: #2b0b85;
    position: absolute;
    top: 1rem;
    right: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover {
    color: #2b0b85;
}

.navigation-link:hover::before,
.navigation-link:hover::after {
    width: 3rem;
}

.copyright {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.checkbox:checked ~ .navigation {
    left: 8rem;
}

.checkbox:checked ~ .sidebar .line-1 {
    transform: rotate(-405deg) translate(-12px, 6px);
    width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
    transform: rotate(405deg) translate(-12px, -6px);
    width: 2.5rem;
}
/* end of navigation */

/* end of navbar */

/* header */
.header {
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.5)), url(../img/background-main-site.jpg) center no-repeat;
    background-size: cover;
}

.brand {
    display: flex;
    cursor: pointer;
}

.tutoring-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.7rem;
    font-weight: 400;
    color: #2b0b85;
    letter-spacing: .2rem;
}

.banner {
    color: #ddd;
    height: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 2s;
}

.banner-paragraph {
    font-size: 3.5rem;
    font-weight: 300;
    animation: anim 1.5s .5s backwards;
}

.banner-button {
    width: 21rem;
    padding: 1.2rem 2rem;
    font-size: 2rem;
    color: #333;
    letter-spacing: .1rem;
    border: none;
    border-radius: 10rem;
    outline: none;
    background: linear-gradient(to right, rgb(28, 84, 133), rgb(164, 204, 238));
    cursor: pointer;
    border: 1px solid #1c5485;
    animation: anim 1s 1s backwards;
}

.banner-button:hover {
    background: linear-gradient(to left,  rgb(28, 84, 133), rgb(164, 204, 238));
    border: 1px solid #92d4ff;
}

.banner-button:active {
    transform: translateY(.2rem);
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* end of header */

/* about us */
.about-us {
    margin-left: 8rem;
    display:flex;
    background-color: #cde0f9;
}

.about-us-content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    box-sizing: border-box;
    border: 1px solid #0f9af7; 
}

.about-us-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #003380;
}

.small-underline {
    width: 21.7em;
    height: .1rem;
    background-color: #80b3ff;
    margin: 0 auto 1rem auto;
}

.big-underline {
    width: 35.4rem;
    height: .15rem;
    background-color: #80b3ff;
    margin: 0 auto 1rem auto;
}

.sub-heading {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #3385ff;
}

.about-us-paragraph {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
}

.about-us-btn {
    width: 15rem;
    padding: .7rem .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #0066cc;
    background-color: transparent;
    border: 1rem solid #000066;
    outline: none;
    cursor: pointer
}

.btn-arrow {
    margin-left: .5rem;
    transition: margin-left .4s;
}

.about-us-btn:hover .btn-arrow {
    margin-left: 1.5rem;
}

.about-us-images {
    flex: 1 1;
    position: relative;
    top:50%;
    left: 50%;
}

.image {
    width: 32rem;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 3rem 6rem, rgba(0,0,0,.4);
    border-radius: .4rem;
    border: .2rem solid #0066cc;
}

.image-1 {
    transform: translate(-20%, -90%);
}

.image-2 {
    transform: translate(-70%, -70%);
}

.image-3 {
    transform: translate(-50%, -50%);
}

.image-4 {
    transform: translate(-30%, -30%);
}
/* end of about us */

/* start of footer */
.footer {
    margin-left: 8rem;
    border:  1px solid #08f;
}

.main-part {
    display: flex;
    justify-content: space-between;
    /*background-color: #91dbff;*/
    background-color: #cdecfb;
    padding: 1rem;
}

.footer-heading-h3 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #1246c4;
    margin: 0.25rem 0 0.5rem 0;
    width: 200px;
    text-align: center;
    margin: 0 0 1rem;
}

.footer-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-list {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list-item {
    margin-bottom: 1rem;
}

.footer-list-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: #1487f9;
}

.contact p {
    font-size: 1.5rem;
    color: #1246c4;
    margin: 0;
}

.footer-form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.footer-input {
    width: 17rem;
    padding: 0;
    font-family: 'Josefins Sans', sans-serif;
    font-size: 1.8rem;
    color: #1246c4;
    outline: none;
}

.footer-btn {
    padding: 1rem;
    background-color: #f9fbff;
    color: #1078fd;
    border: 1px solid #f9fbff;
    transition: all .5s;
}

.footer-btn:hover {
    border: 1px solid #1078fd;
    color: #006eff;
    font-weight: 500;
}

.practices {
    max-width: 45rem;
}

.image-wrapper {
    width: 12rem;
    margin: .4rem;
    overflow: hidden;
}

.footer-image {
    width: 60%;
    height: 75%;
    backface-visibility: hidden;
    transition: all .5s;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
}

.footer-image:hover {
    transform: scale(1.85);
    opacity: .8;
}

.creator-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 0 1rem;
    color: #555;
}

.copy-right-text {
    font-size: 1.3rem;
}

.text-right {
    font-size: 1.4rem;
}

.text-right i {
    font-size: 2rem;
    margin: .5rem;
    color: tomato;
}

.text-right span {
    color: rgb(0, 60, 255);
}
/* end of footer */

/* responsive CSS classes */
.responsive-container {
    display: grid;
    background-color:/* #9ccae9*/ #ddd;
    grid-template-rows: auto auto auto;
    grid-template-columns: 8.05rem auto;
}

.responsive-navbar {
    display: none;
    grid-column: 1 /2;
    grid-row: 1/1;
}

.responsive-sidebar {
    display: grid;
    background-color: blueviolet;
    grid-column: 1 / 1;
    grid-row: 1/1;
    width: 25%;
    height: 90vh;
}

.responsive-main {
    display: grid;
    background-color: #000066;
    grid-column: 2/2;
    grid-row: 1/1;
    height: 90vh;
}

.responsive-footer{
    display: grid;
    background-color: #555;
    grid-column: 1/3;
    grid-row: 2/2;
    z-index: 11;
    height: 10vh;
}

.sidebar--2 {
    width: 8rem;
    background-color: aliceblue;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /** changes flex-direction in vertical */
    align-items: center;
    z-index: 10;
    height: 90vh;
}

.navigation--2 {
    position: fixed;
    left: -32rem;
    width: 40rem;
    height: 90vh;
    background: linear-gradient(to top, transparent, #92d4ff, rgba(0,0,0,0.95)), url(../img/background-navigation_3.svg) center no-repeat rgba(255, 255, 255, 0.005);
    background-position: 10% 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* changes flex-direction in vertical */
    align-items: center;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
}

.checkbox:checked ~ .navigation--2 {
    left: 8rem;
}

.checkbox:checked ~ .sidebar--2 .line-1 {
    transform: rotate(-405deg) translate(-12px, 6px);
    width: 2.5rem;
}

.checkbox:checked ~ .sidebar--2 .line-2 {
    opacity: 0;
}

.checkbox:checked ~ .sidebar--2 .line-3 {
    transform: rotate(405deg) translate(-12px, -6px);
    width: 2.5rem;
}
/* end of responsive CSS classes */

.general-modal-box-html-body {
    font-family: Arial, Helvetica, sans-serif;
}
  
.general-modal-box {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
.general-modal-box-content {
    background-color: #cedbf1;
    margin: 20% auto;
    padding: 1rem;
    border: 1px solid #2771ed;
    width: 40%;
}
  
.general-modal-box-close {
    color: #5d60ed;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.general-modal-box-close:hover,
.general-modal-box-close:focus {
    color: #090eff;
    text-decoration: none;
    cursor: pointer;
}
