/* common styles */
html {
    font-size:100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.html-body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: aliceblue;
}
/* end of common styles */

/* navbar */

/* sidebar */
.sidebar {
    width: 8rem;
    height: 100%;
    background-color: aliceblue;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /** changes flex-direction in vertical */
    align-items: center;
    z-index: 10;
}

.menu-icon {
    margin-top: 3rem;
    cursor: pointer;
}

.line {
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1, .line-3 {
    width: 1.8rem;
    transition: all .4s;
}

.menu-icon:hover .line {
    width: 2.5rem;
}

.social-icons-list {
    list-style-type: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link {
    font-size: 2rem;
    color: #2b0b85;
    transition: color .3s;
}

.social-link:hover {
    color: black;
    font-weight: 400;
    border: 2px solid #2b0b85 ;
}

.year {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #555;
}
/* end of sidebar */

/* navigation */
.navigation {
    position: fixed;
    left: -32rem;
    width: 40rem;
    height: 100%;
    background: linear-gradient(to top, transparent, #92d4ff, rgba(0,0,0,0.95)), url(../img/background-navigation_3.svg) center no-repeat rgba(255, 255, 255, 0.005);
    background-position: 10% 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* changes flex-direction in vertical */
    align-items: center;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
}

.navigation-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #e9f3f9;
    text-align: center;
}

.navigation-search {
    position: relative;
}

.navigation-search-input {
    width: 30rem;
    margin: 0 5rem 0 5rem;
    padding: 1rem 2rem;
    background-color: rgba(250,243,255,.75);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: #2b0b85;
    letter-spacing: .1rem;
    outline: none;
    border: .1rem solid #2b0b85;
    border-radius: 10rem;
    transition: background-color .3s;
}

.navigation-search-input:focus {
    background-color: regba(0, 0, 0, .1);
}

.navigation-search-btn {
    border: none;
    background-color: transparent;
    color: #2b0b85;
    font-size: 1.7rem;
    position: absolute;
    top: 1rem;
    right: 6.3rem;
    cursor: pointer;
}

.navigation-search-btn:focus {
    outline: none;
}

.navigation-list {
    list-style-type: none;
    padding: 0;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation-item {
    position: relative;
}

.navigation-link {
    color: #2b0b85;;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .5s;
}

.navigation-link::before {
    content: "";
    width: 3rem;
    height: .1rem;
    background-color: #2b0b85;
    position: absolute;
    top: 1rem;
    left: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after {
    content: "";
    width: 0rem;
    height: .1rem;
    background-color: #2b0b85;
    position: absolute;
    top: 1rem;
    right: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover {
    color: #2b0b85;
}

.navigation-link:hover::before,
.navigation-link:hover::after {
    width: 3rem;
}

.copyright {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.checkbox:checked ~ .navigation {
    left: 8rem;
}

.checkbox:checked ~ .sidebar .line-1 {
    transform: rotate(-405deg) translate(-12px, 6px);
    width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
    transform: rotate(405deg) translate(-12px, -6px);
    width: 2.5rem;
}
/* end of navigation */

/* end of navbar */

/* header */
.header {
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.5)), url(../img/background-main-site.jpg) center no-repeat;
    background-size: cover;
}

.welcome--responsive {
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.5)), url(../img/background-main-site.jpg) center no-repeat;
    background-size: cover;
}

.brand {
    display: flex;
    cursor: pointer;
}

.tutoring-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.7rem;
    font-weight: 400;
    color: #2b0b85;
    letter-spacing: .2rem;
}

.banner {
    color: #ddd;
    height: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 2s;
}

.banner-paragraph {
    font-size: 3.5rem;
    font-weight: 300;
    animation: anim 1.5s .5s backwards;
}

.banner-button {
    width: 21rem;
    padding: 1.2rem 2rem;
    font-size: 2rem;
    color: #333;
    letter-spacing: .1rem;
    border: none;
    border-radius: 10rem;
    outline: none;
    background: linear-gradient(to right, rgb(28, 84, 133), rgb(164, 204, 238));
    cursor: pointer;
    border: 1px solid #1c5485;
    animation: anim 1s 1s backwards;
}

.banner-button:hover {
    background: linear-gradient(to left,  rgb(28, 84, 133), rgb(164, 204, 238));
    border: 1px solid #92d4ff;
}

.banner-button:active {
    transform: translateY(.2rem);
}

@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* end of header */

/* about us */
.about-us {
    margin: 2rem 0 2rem 8rem;
    display: flex;
    background-color: #cde0f9;
    border: 1px solid #0f9af7;
}

.about-us-content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    box-sizing: border-box;
    border: 1px solid #0f9af7;
    max-width: 886.4px;
}

.about-us-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #003380;
}

.small-underline {
    width: 21.7em;
    height: .1rem;
    background-color: #80b3ff;
    margin: 0 auto 1rem auto;
}

.small-underline-2 {
    width: 35.7em;
    height: .1rem;
    background-color: #80b3ff;
    margin: 0 auto 1rem auto;
}

.big-underline {
    width: 35.4rem;
    height: .15rem;
    background-color: #80b3ff;
    margin: 0 auto 1rem auto;
}

.big-underline-2 {
    width: 53.4rem;
    height: .15rem;
    background-color: #80b3ff;
    margin: 0 auto 1rem auto;
}

.sub-heading {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #3385ff;
}

.about-us-paragraph {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
}

.about-us-btn {
    width: 15rem;
    padding: .7rem .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #0066cc;
    background-color: transparent;
    border: 1rem solid #000066;
    outline: none;
    cursor: pointer
}

.endorse-btn {
    width: 15rem;
    padding: .7rem .5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #0066cc;
    background-color: transparent;
    border: 0.25rem solid white;;
    outline: none;
    cursor: pointer
}

.endorse-btn:hover .btn-arrow {
    margin-left: 1.5rem;
}

.btn-arrow {
    margin-left: .5rem;
    transition: margin-left .4s;
}

.about-us-btn:hover .btn-arrow {
    margin-left: 1.5rem;
}

.about-us-images {
    flex: 1 1;
    position: relative;
    top:50%;
    left: 50%;
}

.image {
    width: 32rem;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 3rem 6rem, rgba(0,0,0,.4);
    border-radius: .4rem;
    border: .2rem solid #0066cc;
}

.image-1 {
    transform: translate(-20%, -90%);
}

.image-2 {
    transform: translate(-70%, -70%);
}

.image-3 {
    transform: translate(-50%, -50%);
}

.image-4 {
    transform: translate(-30%, -30%);
}
/* end of about us */

/* start of footer */
.footer {
    margin-left: 8rem;
    border:  1px solid #08f;
}

.main-part {
    display: flex;
    justify-content: space-between;
    /*background-color: #91dbff;*/
    background-color: #cdecfb;
    padding: 1rem;
}

.footer-heading-h3 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #1246c4;
    margin: 0.25rem 0 0.5rem 0;
    width: 200px;
    text-align: center;
    margin: 0 0 1rem;
}

.footer-list-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-list {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list-item {
    margin-bottom: 1rem;
}

.footer-list-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: #1487f9;
}

.contact p {
    font-size: 1.5rem;
    color: #1246c4;
    margin: 0;
}

.footer-form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.footer-input {
    width: 17rem;
    padding: 0;
    font-family: 'Josefins Sans', sans-serif;
    font-size: 1.8rem;
    color: #1246c4;
    outline: none;
}

.footer-btn {
    padding: 1rem;
    background-color: #f9fbff;
    color: #1078fd;
    border: 1px solid #f9fbff;
    transition: all .5s;
}

.footer-btn:hover {
    border: 1px solid #1078fd;
    color: #006eff;
    font-weight: 500;
}

.practices {
    max-width: 45rem;
}

.image-wrapper {
    width: 12rem;
    margin: .4rem;
    overflow: hidden;
}

.footer-image {
    width: 60%;
    height: 75%;
    backface-visibility: hidden;
    transition: all .5s;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
}

.footer-image:hover {
    transform: scale(1.85);
    opacity: .8;
}

.creator-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 0 1rem;
    color: #555;
}

.copy-right-text {
    font-size: 1.3rem;
}

.text-right {
    font-size: 1.4rem;
}

.text-right i {
    font-size: 2rem;
    margin: .5rem;
    color: tomato;
}

.text-right span {
    color: rgb(0, 60, 255);
}
/* end of footer */

/* responsive CSS classes */
.responsive-container {
    display: grid;
    background-color:/* #9ccae9*/ aliceblue;
    grid-template-rows: auto auto auto;
    grid-template-columns: 8.05rem auto;
}

.responsive-navbar {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1/1;
    height: 32px;
    background-color: #cdecfb;
  z-index: 1000;
}

.responsive-sidebar {
    display: grid;
    grid-column: 1 / 1;
    grid-row: 2/2;
    width: 25%;
}

.responsive-main {
    display: grid;
    background-color: #cee3ff;
    /*background-color: #000066;*/
    grid-column: 2/2;
    grid-row: 2/2;
}

.responsive-footer{
    display: grid;
    background-color: aliceblue;
    grid-column: 1/3;
    grid-row: 3/3;
    z-index: 11;
    height: 10vh;
}

.sidebar--2 {
    width: 8rem;
    background-color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /** changes flex-direction in vertical */
    align-items: center;
    z-index: 10;
    height: 90vh;
}

.navigation--2 {
    position: relative;
    left: -32rem;
    width: 40rem;
    height: 90vh;
    background: linear-gradient(to top, transparent, #92d4ff, rgba(0,0,0,0.95)), url(../img/background-navigation_3.svg) center no-repeat rgba(255, 255, 255, 0.005);
    background-position: 10% 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* changes flex-direction in vertical */
    align-items: center;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
    top: -53.75rem;
}

.checkbox:checked ~ .navigation--2 {
    left: 8rem;
}

.checkbox:checked ~ .sidebar--2 .line-1 {
    transform: rotate(-405deg) translate(-12px, 6px);
    width: 2.5rem;
}

.checkbox:checked ~ .sidebar--2 .line-2 {
    opacity: 0;
}

.checkbox:checked ~ .sidebar--2 .line-3 {
    transform: rotate(405deg) translate(-12px, -6px);
    width: 2.5rem;
}
/* end of responsive CSS classes */

.general-modal-box-html-body {
    font-family: Arial, Helvetica, sans-serif;
}
  
.general-modal-box {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
.general-modal-box-content {
    background-color: #cedbf1;
    margin: 20% auto;
    padding: 1rem;
    border: 1px solid #2771ed;
    width: 40%;
}
  
.general-modal-box-close {
    color: #5d60ed;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.general-modal-box-close:hover,
.general-modal-box-close:focus {
    color: #090eff;
    text-decoration: none;
    cursor: pointer;
}

/* start educational establishment */
.educational-establishment-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.educational-establishment-tile {
    width: 37%;
    height: 60px;
    margin-bottom: 1rem;
    padding: 2rem;
    font-weight: 600;
    border: 3px solid #363f69;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.educational-establishment-tile--end {
    margin-bottom: 0
}

.educational-establishment-tile:hover,
.educational-establishment-tile:focus {
    border: 3px solid #5867ac;
    color:#0000f3;
}

/* end of educational establishment */

/* start of disclaimer */
.text-left {
    text-align: left;
}

.disclaimer-context {
    text-align: left;
    font-weight: 400;
}

.disclaimer-context h2 {
    text-align: center;
}
/* end of disclaimer */

/* start of navbar2 */
.navbar2 {
    display: grid;
    grid-template-rows: repeat(1, minmax(1.5rem, 2rem));
    margin-left: 8rem;
    grid-template-columns: repeat(36, minmax(25px, 6rem));
    background-color: #cdecfb;
    justify-content: space-between;
}

.navbar2-grid {
    grid-column: 32 / 36;
    grid-row: 1/2;
    margin: 0;
    padding: 0;
}

.navbar2-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar2-list-item {
    place-self: center;
}

.navbar2-list-item-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #12376e;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
/* end of navbar2 */

@media(max-width: 1680px) {
    .tutoring-heading {
        margin: 0;
        color: #e8e4ffcf;
    }

    .banner {
        max-height: 39rem;
    }

    .navigation--2 {
        top: -43.3rem;
    }

    .footer-form {
        margin: 0;
    }

    .practices {
        max-width: 26rem;
    }

    .footer-list-wrapper {
        justify-content: left;
    }

    .navbar2-grid {
        grid-column: 14 / 36;
    }
}

@media (max-width: 1400px) {
    .tutoring-heading {
        margin: 0;
        color: #e8e4ffcf;
    }

    .banner {
        max-height: 39rem;
    }

    .navigation--2 {
        top: -43.3rem;
    }

    .footer-form {
        margin: 0;
    }

    .practices {
        max-width: 26rem;
    }

    .footer-list-wrapper {
        justify-content: left;
    }

    .navbar2-grid {
        grid-column: 17 / 36;
    }

    .about-us {
        border: none;
    }

    .image-wrapper {
        width: 7rem;
    }

    .footer-image:hover {
        transform: scale(1.5);
        opacity: .8;
    }
}

@media(max-width: 1250px) {
    .practices {
        max-width: 20rem;
    }

    .navbar2-grid {
        grid-column: 16 / 36;
    }
    
    .banner {
        max-height: 34rem;
    }

    .banner-heading {
        font-size: 5rem;
    }

    .banner-paragraph {
        font-size: 1.75rem;
        font-weight: 400;
    }

    .banner-button {
        width: 15rem;
        padding: 0.6rem 1rem;
    }

    .about-us-content {
        padding: 5rem;
    }
}

@media(max-width: 1024px) {
    .educational-establishment-content {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: border-box;
        border: 1px solid #0f9af7;
        width: 726.4px;
    }

    .educational-establishment-tile {
        width: 30%;
    }

    .footer-input {
        width: 10rem;
        font-size: 1rem;
    }

    .footer-btn {
        padding: 0.5rem;
    }

    .contact {
        margin-left: 1rem;
    }

    .contact p {
        font-size: 1.2rem;
    }

    .practices {
        max-width: 17rem;
    }

    .copy-right-text p{
        font-size: 1rem;
        margin: 1rem 0 0 0;
        padding: 0;
    }

    .text-right {
        font-size: 1rem;
    }

    .navigation--2 {
        top: -43.3rem;
    }
}

@media(max-width:800px) {
    .navigation--2 {
        top: -90vh;
        height: 90vh;
    }

    .navbar2-grid {
        grid-column: 11 / 36;
    }
    
    .responsive-navbar {
        grid-row: 1/1;
    }

    .responsive-main {
        grid-column: 1/1;
        grid-row: 3/3;
        background-color: transparent;
    }

    .responsive-footer {
        grid-column: 1/1;
        grid-row: 4/4;
    }

    .footer {
        margin: 0;
    }

    .footer-input {
        width: 7rem;
        font-size: 0.9rem;
    }

    .footer-btn {
        padding: 0.25rem;
    }

    .about-us {
        margin: 0.5rem 0 0.5rem;
    }

    .navigation-heading {
        display: none;
    }

    .navigation-search {
        margin-top: 1rem;
    }

    .copyright {
        margin-bottom: 0;
        color: #102a91;
    }

    .navbar {
        height: 540px;
    }

    .navigation-list {
        align-items: flex-start;
    }

    .contact p {
        font-size: 1rem;
    }

    .image-wrapper {
        margin: 0;
        width: 6rem;
    }

    .footer-image {
        width: 80%;
        height: 95%;
    }

    .responsive-footer {
        width: 728.39px;
    }
}

@media(max-width: 450px) {
    .navigation-link {
        font-size: 1.5rem;
        text-wrap: wrap;
    }

    .hide-link {
        display: none;
    }

    .show-link {
        display: block;
    }

    .sidebar--2 {
        width: 4rem;
    }

    .checkbox:checked ~ .navigation--2 {
        left: 4rem;
    }

    .navigation--2 {
        align-items: revert-layer;
        width: 36rem;
    }

    .navigation-list {
        margin-left: 80px;
    }

    .navigation-search-input {
        margin: 0 0.75rem 0 0.75rem;
        background-color: rgb(249 249 255 / 80%);
        width:22rem;
    }

    .banner {
        align-items: unset;
    }

    .brand {
        flex-direction: column;
    }

    .tutoring-heading {
        font-size: 2.25rem;
        margin: 0.5rem;
    }

    .banner-button {
        margin: 1rem 4.5rem 0;
    }

    .banner-paragraph {
        margin: 0 1rem 0;
        font-size: 1.55rem;
    }

    .banner-heading {
        text-wrap: balance;
    font-size: 3.5rem;
    margin-left: 1.5rem;
    }

    .about-us {
        flex-direction: column;
        width: 405px;
    }
    .about-us-paragraph {
        margin: 0;
        width: 365px;
    }

    .about-us-content {
        padding: 0;
    }

    .big-underline {
        width: 75%;
    }

    .small-underline {
        width: 60%;
    }

    .about-us-images {
        display: None;
    }

    .about-us-btn {
        border: 0.15rem solid #000066;
        margin: 0.5rem 4rem 0.5rem;
    }

    .sub-heading {
        display: none;
    }

    .about-us-heading {
        font-size: 2rem;
    }

    .educational-establishment-wrapper {
        flex-direction: column;
    }

    .educational-establishment-tile {
        width: 40%;
    }

    .educational-establishment-tile {
        margin-left: 5rem;
    }

    .educational-establishment-tile--end {
        margin-bottom: 1rem;
        margin-left: 5rem;
    }

    .educational-establishment-tile--start {
        margin-top: 1rem;
    }

    .educational-establisment-heading {
        margin-left: 3.5rem;
    }

    .main-part {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }

    .creator-part {
        flex-direction: column;
        align-items: unset;
    }

    .contact {
        margin: 0;
    }

    .footer-heading-h3 {
        text-align: left;
        margin: 1rem 0 1rem;
    }

    .footer-form {
        margin: 1rem 0 1rem;
        padding-bottom: 0;
    }

    .navbar2 {
        margin-left: 0;
    }

    .navbar2-grid {
        grid-column: 1 /9;
    }

    .footer-list-item-2 {
        margin-bottom: 0;
    }

    .responsive-footer {
        width: 405px;
    }

    .image-wrapper {
        width: 8.5rem;
        height: 8.5rem;
    }

    .footer-image:hover {
        transform: scale(1.1);
        opacity: .8;
    }

    .footer-input {
        width: 10rem;
    }

    .endorse-btn {
        border: 0.15rem solid white;
        padding: 0.5rem 0.5rem;
        margin: 1rem 4rem 1rem;
    }
}